#show-controls {
  position: absolute;
  z-index: 999;
  top: var(--base-size);
  right: var(--base-size);
  background-color: var(--color-foreground);
  color: var(--color-background);
  border: 3px solid var(--color-background);
  border-radius: var(--base-size);
  -webkit-box-shadow: 0px 0px 5px 2px var(--color-shadow);
  box-shadow: 0px 0px 5px 2px var(--color-shadow);
}
#show-controls .material-symbols-outlined {
  scale: 0.5;
}
#show-controls:hover {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 3px solid var(--color-foreground);
}
#show-controls:active {
  background-color: var(--color-active);
}

ul {
  --min-card-width: calc(var(--base-size) * 4);
  margin: calc(var(--base-size) / 2);
  list-style: none;
  display: grid;
  grid-gap: calc(var(--base-size) / 2);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
}
ul li {
  min-height: var(--min-card-width);
}

#controls {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 15%;
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: calc(var(--base-size) / 2);
  opacity: 0.95;
}
